# ausgeschlossene Dateien 

output.csv

# ausgeschlossene Verzeichnisse (endet mit "/")
build/
dist/

# Dateien, die durch ein Muster (*, &) identifiziert werden

# Dateien, die entgegen dem Muster eingeschlossen werden
# (durch ! gekenntzeichnet)
